<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.profiler">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:exported="true">
        <receiver android:name=".adapters.NotificationPublisher"
            android:enabled="true">
        </receiver>
        <activity android:name=".activities.create_update.SelectProfileActivity"
            />
        <activity android:name=".activities.specific_data.ProfileRecordsActivity"
            android:exported="true"/>
        <activity android:name=".activities.specific_data.MyProfileRecordsActivity"
            android:exported="true"/>
        <activity android:name=".activities.specific_data.ProfileActivity"
            android:exported="true"/>
        <activity android:name=".activities.create_update.CreateUpdateRecordActivity"
            android:exported="true"/>
        <activity android:name=".activities.create_update.CreateUpdateMyProfileRecordActivity"
            android:exported="true"/>
        <activity android:name=".activities.create_update.CreateUpdateProfileActivity"
            android:exported="true"/>
        <activity android:name=".activities.create_update.CreateUpdateMyProfileActivity"
            android:exported="true"/>
        <activity android:name=".activities.all_data.AllDataActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>